	<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-md-8 banner-s">
				<link rel="stylesheet" type="text/css" href="engine/style.css">
				<div id="wowslider-container1" style="font-size: 7.53012px;">
					<div class="ws_images"><div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;"><img src="products/banner/banner chuyen dia diem.jpg" alt="chuyển địa điểm" class="imgbannercenter" id="wows1_11" style="width: 100%;"></div>
							<ul style="position: absolute; top: 0px; animation: 0s ease 0s 1 normal none running none; width: 1000%; left: -100%;">
								<li style="width: 10%; font-size: 0px;"><a href="https://goo.gl/maps/wiRXsDeJ4FLLzJeD9"><img src="products/banner/banner chuyen dia diem.jpg" alt="chuyển địa điểm" class="imgbannercenter" id="wows1_11" style="visibility: visible;"></a></li><li style="width: 10%; font-size: 0px;"><a href="https://thietbiytevp.com/ho-tro-tra-gop-0.html"><img src="products/banner/tra gop.jpg" alt="Hỗ trợ trả góp 0%" class="imgbannercenter" id="wows1_10" style="visibility: visible;"></a></li>
							</ul>
					</div>
					<div class="ws_bullets"><div></div></div>
					<div class="ws_shadow"></div>
				<div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 10; background: rgb(255, 255, 255); opacity: 0;"><a href="https://thietbiytevp.com/ho-tro-tra-gop-0.html" style="display: block; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;" target=""></a></div><a href="#" class="ws_next"></a><a href="#" class="ws_prev"></a><div class="ws-title" style="display:none"></div><a href="#" class="ws_playpause ws_pause"></a></div>
			</div>
			<div class="col-md-4">
				
				<div class="banner-right-row">
						<a href="http://thietbiytevp.com/may-tao-oxy.html"><img src="products/banner/baner máy tạo.jpg" alt="Thiết bị đo huyết áp tại nhà"></a>
					</div>
				<div class="banner-right-row">
						<a href="http://thietbiytevp.com/giuong-da-chuc-nang-e05-model-2018.html"><img src="products/banner/giuong-benh-da-chuc-nang-4-tay-quay-dp-e05.jpg" alt="Giường bệnh đa chức năng 4 tay quay DP E05"></a>
					</div>
			</div>
		</div>
	</div>
		<script type="text/javascript" src="engine/wowslider.js"></script>
		<script type="text/javascript" src="engine/script.js"></script>	
</section>