################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BTL_Web_Nhom7/config/applicationhost.config
/.vs/BTL_Web_Nhom7/v17/.suo
/BTL_Web_Nhom7/bin/Debug/net7.0
/BTL_Web_Nhom7/obj/Debug/net7.0
/BTL_Web_Nhom7/BTL_Web_Nhom7.csproj.user
/.vs/BTL_Web_Nhom7/FileContentIndex/b5a7a081-1dc7-42a3-a9d5-087dc665800c.vsidx
/.vs/BTL_Web_Nhom7/FileContentIndex/daea73ae-6885-4a7d-a0eb-c427e8413c31.vsidx
/.vs/BTL_Web_Nhom7/FileContentIndex/e1066edf-58da-4014-ac78-6356b73662e7.vsidx
/.vs/BTL_Web_Nhom7/FileContentIndex/6210372a-6b6d-40b3-b4d9-849291c4dc90.vsidx
/BTL_Web_Nhom7/BTL_Web_Nhom7.csproj
/BTL_Web_Nhom7/obj/Debug/net7.0/BTL_Web_Nhom7.assets.cache
/BTL_Web_Nhom7/obj/Debug/net7.0/BTL_Web_Nhom7.csproj.AssemblyReference.cache
/BTL_Web_Nhom7/obj/BTL_Web_Nhom7.csproj.nuget.dgspec.json
/BTL_Web_Nhom7/obj/BTL_Web_Nhom7.csproj.nuget.g.props
/BTL_Web_Nhom7/obj/project.assets.json
/BTL_Web_Nhom7/obj/BTL_Web_Nhom7.csproj.nuget.g.targets
/BTL_Web_Nhom7/obj/project.nuget.cache
.vs/BTL_Web_Nhom7/FileContentIndex/7715927a-ca6d-43a9-a215-663e90e2e478.vsidx
/.vs/BTL_Web_Nhom7/FileContentIndex
/BTL_Web_Nhom7/bin/Debug/net6.0
/BTL_Web_Nhom7/obj/Debug
*.sentinel
